# [FRONTEND] dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

# [FRONTEND] testing
frontend/coverage

# [FRONTEND] next.js
frontend/.next/
frontend/out/

# [FRONTEND] production
frontend/build

# [FRONTEND] misc
frontend/.DS_Store
frontend/*.pem

# [FRONTEND] debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
yarn-error.log*

# [FRONTEND] local env files
./frontend/.env
./frontend/.env*.local
frontend/.env
frontend/.env*.local

frontend/# [FRONTEND] vercel
frontend/.vercel

frontend/# [FRONTEND] typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# [FRONTEND] service-worker files for PWA building
frontend/public/sw.js
frontend/public/sw.js.map
frontend/public/workbox-*.js
frontend/public/workbox-*.js.map
./frontend/public/sw.js
./frontend/public/sw.js.map
./frontend/public/workbox-*.js
./frontend/public/workbox-*.js.map


# [Aplicacion]
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/node_modules
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/out/
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/build
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/.DS_Store
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/*.pem
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/npm-debug.log*
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/yarn-debug.log*
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/yarn-error.log*
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/public/sw.js
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/public/sw.js.map
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/public/workbox-*.js
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/public/workbox-*.js.map
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/public/sw.js
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/public/sw.js.map
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/public/workbox-*.js
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/public/workbox-*.js.map
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/.env*.local
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/.vercel
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/.next
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/*.tsbuildinfo
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicación/next-env.d.ts

# [Fake json webserver]
./frontend/db.json
frontend/db.json
